/* ------------房产详情----------- */
*{
    margin: 0;
    padding: 0;
}

.wrap {
    width: 7.5rem;
    // height: 100%;
    overflow: hidden;
    background:#F2F2F2;
}
.wrap header {
    width: 7.5rem;
    height: 1.0rem;
    // background: black;
    padding-top:0.2rem;
    position:fixed;
    left:0;
    top:0;
    z-index:999;
}

.wrap header .vipDwrap1{
    position:absolute;
    left:0.1rem;
    width:0.4rem;
}

.wrap header .vipDwrap3{
    position:absolute;
    right:0.1rem;
    width:0.8rem;
}
.wrap .HousCon{
    width:7.5rem;
    height:9.0rem;
    background:white;
    margin-bottom:0.2rem;
}
.wrap .HousCon img{
    width:7.5rem;
    height:7.0rem;
}
.wrap .HousCon p:nth-of-type(1){
    font-size: 0.30rem;
    font-weight: bold;
    margin-bottom:0.1rem;
    padding:0.1rem;
}
.wrap .HousCon p:nth-of-type(2){
    font-size: 0.24rem;
    padding:0.1rem;
}

.wrap .HousCon1{
    width:7.5rem;
    height:2.0rem;
    background:white;
    margin-bottom:0.2rem;
}

.wrap .HousCon1 img{
    width:1.4rem;
    height:1.4rem;
    position:relative;
    left:0.2rem;
    top:0.3rem;
}

.wrap .HousCon1 .HousP{
    font-size:0.24rem;
    display:inline-block;
    position:relative;
    left:0.2rem;
    top:0.2rem;
}

.wrap .HousCon1 .HousP p:nth-child(1){
    font-size:0.3rem;
    font-weight:bold;
    margin-bottom: 0.1rem;
}

.wrap .HousCon1 .HousP p:nth-child(2){
    margin-bottom: 0.1rem;
}

.wrap .HousCon1 .HousP p:nth-child(3){
    height:0.4rem;
    padding-left: 0.5rem;
    background:url(../images/HousPhone.png) 0 0 no-repeat;
    background-size:0.3rem;
    margin-bottom: 0.1rem;
    color:#0f0;
    font-size:0.3rem;
}
.wrap .HousCon1 .HousP p:nth-child(3) span{
    color:black;
}

.wrap .HousCon2{
    width:7.5rem;
    height:100%;
    padding:0.2rem;
    background:white;
}

.wrap .HousCon2 img{
    width:7.1rem;
    height:4.9rem;

}

/* ------------房产详情----------- */

/* ------------商家信息----------- */
.merWrap {
    overflow: hidden;
    width: 7.5rem;
}
.merWrap header{
    width:7.5rem;
    height:0.8rem;
    background:orange;
    font-size:0.32rem;
    line-height:0.8rem;
    color:white;
    text-align: center;
    position:fixed;
    left:0;
    top:0;
    z-index:999;
}
.merWrap header a img{
    width:0.2rem;
    height:0.4rem;
    position:absolute;
    left:0.3rem;
    top:0.2rem;
}

.merWrap .swiper-container{
    width:7.5rem;
    height:3.0rem;
    position:absolute;
    top:0.8rem;
}

.merWrap .swiper-slide{
    width:7.5rem;
    height:3.0rem;
}
.merWrap .swiper-slide img{
    width:7.5rem;
    height:3.0rem;
}

.merWrap .merDetail{
    width:7.5rem;
    height:100%;
    position:fixed;
    top:3.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul,li,a,ol{
    text-decoration:none;
    list-style:none;
    color: #4E4E4E;
}
.merWrap .merDetail .merMessL{
    padding-top:0.3rem;
    width:2.1rem;
    height:9.23rem;
    background:#F2F2F2;
}
.merWrap .merDetail .merMessL li{
    width:2.1rem;
    height:1.0rem;
    line-height:1.0rem;
    text-align:center;
    font-size:0.36rem;
}

.merWrap .merDetail .merMessC{
    width:5.4rem;
    overflow:hidden;
    height:10.0rem;
}

.select{
    background:#E6E6E6;
    color:orange;
    border-left: 0.05rem solid orange;
}

.conn1{
    width:5.4rem;
    height:2.2rem;
    padding:0.2rem;
}

.conn1 img{
    width:1.8rem;
    height:1.8rem;
    position:relative;
    top:0.4rem;
}

.conn1 div{
    position:relative;
    left:1.9rem;
    top:-1.6rem;
}
.conn1 div p{
    font-size:0.24rem;
    color:#B7B6B6;
}
.conn1 div p:nth-child(1){
    font-size:0.32rem;
    font-weight:bold;
    margin-bottom: 0.2rem;
    color:black;
}

.conn1 div p:nth-child(2){
    padding-left:0.4rem;
    background:url(../images/hint.png) 0 0 no-repeat;
    background-size:0.3rem;

}



/* ------------商家信息----------- */






