/*------------vip------------*/


/*头部*/

* {
    margin: 0;
    padding: 0;
}

#vip {
    width: 7.5rem;
    /* height: 100%; */
    overflow: hidden;
}

#vip header {
    position: fixed;
    top: 0;
    left: 0;
    width: 7.5rem;
    height: 0.8rem;
    text-align: center;
    background-color: orange;
    z-index: 999;
}

#vip header {
    color: white;
    display: inline-block;
    font-size: 0.32rem;
    line-height: 0.8rem;
}


/*swiper切换*/

#vip .swiper-container {
    position: absolute;
    left: 0;
    top: 0.8rem;
    width: 7.5rem;
    height: 3.0rem;
}

#vip .swiper-slide {
    width: 7.5rem;
    height: 3.0rem;
}

#vip .swiper-slide img {
    width: 7.5rem;
    height: 3.0rem;
}


/*vipConLie*/

#vip .vipLie {
    width: 7.5rem;
    height: 11.0rem;
    position: absolute;
    top: 3.8rem;
    margin-top: 0.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#vip .vipLie .vipL {
    width: 3.5rem;
    height: 4.9rem;
}

#vip .vipLie .vipL img {
    width: 3.5rem;
    /* height:3.4rem; */
}

.vipLie .vipL h2 {
    font-size: 0.28rem;
}

.vipLie .vipL p {
    font-size: 0.24rem;
    color: #ccc;
}

.vipLie .vipL p span {
    color: red;
}


/*页脚*/

#vip .vipNav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 7.5rem;
    background-color: white;
    z-index: 999;
}

.vipNav li {
    list-style: none;
}

.vipNav a {
    text-decoration: none;
}

#vip .vipNav ul {
    display: flex;
    text-align: center;
    height: 1.0rem;
    line-height: 0.8rem;
    /* border-top: 1px solid red; */
    justify-content: space-around;
    padding-top: 0.1rem;
}

.vipNav ul li {
    width: 1.0rem;
    -webkit-box-flex: 1;
}

.vipNav ul li a {
    color: #808080;
    font-size: 0.24rem;
    padding-top: 0.6rem;
}

.vipNav ul li:nth-child(2) a {
    color: orange;
    font-size: 0.24rem;
    padding-top: 0.6rem;
}

#vip .vipNav li:nth-child(1) {
    background: url(../images/souye.png) 50% 0 no-repeat;
    background-size: 50%;
}

#vip .vipNav li:nth-child(2) {
    background: url(../images/vip1.png) 50% 0 no-repeat;
    background-size: 50%;
}

#vip .vipNav li:nth-child(3) {
    background: url(../images/classify.png) 50% 0 no-repeat;
    background-size: 50%;
}

#vip .vipNav li:nth-child(4) {
    background: url(../images/shop.png) 50% 0 no-repeat;
    background-size: 50%;
}

#vip .vipNav li:nth-child(5) {
    background: url(../images/my.png) 50% 0 no-repeat;
    background-size: 45%;
}


/*------------vip------------*/


/* -----------detial------------- */
#vipDwrap {
	width:7.5rem;
	height:10.0rem;
}

#vipDwrap header {
    width: 7.5rem;
    height: 1.0rem;
    padding-top:0.2rem;
    position:fixed;
    left:0;
    top:0;
    z-index:999;

}

#vipDwrap header .vipDwrap1{
	position:absolute;
	left:0.1rem;
	width:0.4rem;
}
#vipDwrap header .vipDwrap2{
	position:absolute;
	right: 0.9rem;

}
#vipDwrap header .vipDwrap3{
	position:absolute;
	right:0.1rem;

}
#vipDwrap header img{
	width:0.6rem;
	height:0.6rem;
}

#vipDwrap .vipDCon{
	width:7.5rem;
	height:9.2rem;
}

#vipDwrap .vipDCon img{
	width:7.5rem;
	height:7.1rem;
}
#vipDwrap .vipDCon p{
	margin-bottom: 0.15rem;
}

#vipDwrap .vipDCon p:nth-of-type(1){
	font-size:0.3rem;
}
#vipDwrap .vipDCon p:nth-of-type(2){
	font-size:0.26rem;
	color:#6F6F6F;
	display: flex;
    justify-content: space-between;
}
#vipDwrap .vipDCon p:nth-of-type(2) span:nth-of-type(1){
	font-size:0.26rem;
	color:red;
}
#vipDwrap .vipDCon p:nth-of-type(2) span:nth-of-type(2){
	width:4.0rem;
}
#vipDwrap .vipDCon p:nth-of-type(3){
	font-size:0.26rem;
	color:#6F6F6F;
	display: flex;
    justify-content: space-between;
}
/* -----------detial------------- */


/* ----------vipTab------------- */
.vipTab ul,li,a{
	text-decoration:none;
	list-style:none;
}
.vipTab .inner ul{
	border-bottom: 0.01rem solid #D9D9D9;
	font-size:0.30rem;
	display: flex;
	justify-content: space-around;
}
.vipTab ul li a{
	color:#595959;
}
.select{
	padding-bottom: 0.2rem;
	border-bottom:0.05rem solid red;
}
.vipTab{
	width:7.5rem;
	height:100%;
}

.vipTab .vipTabC1{
	width:7.5rem;
}

.vipTab .vipTabC1:nth-child(2) ul li{
	margin-bottom:0.2rem;
	padding-bottom:0.2rem;
	border-bottom:0.01rem solid #eee;
}

.vipTab .vipTabC1:nth-child(2) p:nth-child(1){
	font-size:0.32rem;
	display: flex;
	justify-content: space-between;;
}
.vipTab .vipTabC1:nth-child(2) p:nth-child(2){
	font-size:0.32rem;
}

.vipTab .vipTabC1:nth-child(1) img{
	width:7.5rem;
}

/* ----------vipTab------------- */

/* -----------vipShop-------------- */
.vipShop{
	width:7.5rem;
	height:1.0rem;
	position:fixed;
	left:0;
	bottom:0;
	z-index:999;
	// border-top:0.01rem solid red;
	background:#F2F2F2;
}

.vipShop .vipShopImg1{
	width:0.7rem;
	height:0.7rem;
	position:absolute;
	left:0.2rem;
	top:0.2rem;
}

.vipShop .vipShopImg2{
	width:2.2rem;
	height:0.6rem;
	position:absolute;
	right:2.80rem;
	top:0.3rem;
}

.vipShop .vipShopImg3{
	width:2.2rem;
	height:0.6rem;
	position:absolute;
	right:0.2rem;
	top:0.3rem;
}
/* -----------vipShop-------------- */


.foodDeta{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    left:0;
}

.conn1{
    width:7.5rem;
    height:6.3rem;
    position:fixed;
    bottom:0;
    right:0;
    background:white;
}
.conn1 img{
    width:1.8rem;
    height:1.8rem;
    position:relative;
    top:0.4rem;
    left:0.5rem;
}

.conn1 div{
    position:relative;
    left:2.4rem;
    top:-1.4rem;
}
.conn1 div p{
    font-size:0.24rem;
    color:#B7B6B6;
}
.conn1 div p:nth-child(1){
    font-size:0.28rem;
    margin-bottom: 0.2rem;
    color:black;
}
.conn1 div p:nth-child(2) span:nth-child(1){
    color:red;
    margin-right: 0.5rem;
}
.conn1 p{
    font-size:0.32rem;
}
.orange{
    background:orange;
}