*{
	padding: 0;
	margin: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
body,html,.h_siteWrap{
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	font-family: "微软雅黑";
	/*overflow: scroll;*/
	overflow: hidden;
}
.h_siteHade{
	width: 100%;
	height: 0.8rem;
	background-color: #f29004;
	font-size: 0.36rem;
	text-align: center;
	line-height: 0.8rem;
	color: white;
	position: relative;
}
.h_siteHade a{
	color: white;
}
.h_siteHade img{
	width: 0.2rem;
	height: 0.35rem;
	position: absolute;
	left: 0.2rem;
	top: 0.23rem;
}
.h_topUp{
	position: absolute;
	right: 0.3rem;
}

/*收货地址*/

.h_profile{
	width: 100%;
	height: 1.7rem;
	background-color: white;
	font-size: 0.3rem;
	position: relative;
	padding-top: 0.3rem;
	box-sizing: border-box;
}
.h_profile p{
	margin-left: 0.2rem;
	margin-bottom: 0.3rem;
}
.h_profile .h_proTel{
	margin-left: 0.3rem;
}
.h_profile img{
	width: 0.22rem;
	height: 0.4rem;
	position: absolute;
	right: 0.3rem;
	top: 40%;
}
.h_profile .h_default{
	color: #f5ae47;
	margin-right: 0.2rem;
}
.h_profile2{
	width: 100%;
	height: 1.7rem;
	background-color: white;
	font-size: 0.3rem;
	position: relative;
	margin-top: 0.2rem;
	padding-top: 0.3rem;
	box-sizing: border-box;
}
.h_profile2 p{
	margin-left: 0.2rem;
	margin-bottom: 0.3rem;
}
.h_profile2 .h_proTel{
	margin-left: 0.3rem;
}
.h_profile2 img{
	width: 0.22rem;
	height: 0.4rem;
	position: absolute;
	right: 0.3rem;
	top: 40%;
}
.h_profile2 .h_default{
	color: #f5ae47;
	margin-right: 0.2rem;
}

/*编辑地址*/
.h_address{
	width: 100%;
	height: 4.7rem;
	background-color: #fff;
	font-size: 0.3rem;
	margin-top: 0.2rem;
	color: #888888;
}
.h_address ul{
	width: 100%;
	height: 100%;
	background-color: white;
	display: -webkit-box;
	display: -ms-box;
	display: -o-box;
	display: -moz-box;
	-webkit-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	-moz-box-orient: vertical;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.h_address ul li{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-o-box-flex:1;
	-ms-box-flex:1;
	overflow: hidden;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	padding-top: 0.2rem;
	box-sizing: border-box;
	position: relative;
}
.h_bomAdd{
	border-bottom: 1px solid #dbdbdb;
}
.h_address input{
	border: 0;
	width: 5rem;
	height: 0.80rem;
	outline: none;
	font-size: 0.3rem;
}
.h_address .h_bomAdd img{
	width: 0.3rem;
	height: 0.2rem;
	margin-left: 0.1rem;
	margin-right: 0.2rem;
}
.h_address .h_bomAdd span{
	margin-left: 0.2rem;
}
.h_address .h_swickBg{
	width: 0.97rem;
	height: 0.56rem;
	float: right;
}
.h_address .h_swick{
	width: 0.53rem;
	height: 0.56rem;
	position: absolute;
	right: 0.2rem;
}

.h_stieBtn{
	width: 6.4rem;
	height: 0.87rem;
	background-color: #f29004;
	font-size: 0.32rem;
	border: none;
	outline: none;
	border-radius: 0.1rem;
	color: white;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 2.0rem;
	margin: auto;
}